:root{
    --mainColor: rgb(112, 241, 160);
    --secondaryColor: rgb(39, 142, 92);
}

html{
    /* background-color: #6caf6e;
    background: -webkit-linear-gradient(top, #6caf6e, #FFFFFF);
    background: -moz-linear-gradient(top, #6caf6e, #FFFFFF);
    background: linear-gradient(to bottom, #6caf6e , #FFFFFF); */
    /* background-color: linear-gradient(to bottom, #38aa64, #27c3b7, #81d5ec, #d1e6fd, #ffffff); */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

}

body{
    background-color: white;
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: var(--mainColor);
    /* position: absolute;
    width: 100%;
    height: 100%; */
    /* background-color: #55F858;
    background: -webkit-linear-gradient(top, #55F858, #FFFFFF);
    background: -moz-linear-gradient(top, #55F858, #FFFFFF);
    background: linear-gradient(to bottom, #55F858, #FFFFFF);
    height: 100%;
    width: 100%; */
}

.navbar{
    width: 100%;
    height: fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: white;
    transition: background-color ease-out 0.3s;
}

#logo{
    position: relative;
    left: 5%;
    width: 70%;
    height: 100%;;
    font-size: 2.2rem;
}

.navbar div{
    width: 11%;
    height: 100%;
    position: relative;
    right:5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.barColor{
    background-color: var(--secondaryColor);
    transition: background-color ease-out 0.3s;
}

.norBtn{
    outline: none;
    text-decoration: none;
    color:var(--mainColor);
}

.norBtn:hover{
    text-decoration: underline;
}

.blueBtn{
    width: fit-content;
    height: fit-content;
    padding:10px;
    background-color: var(--mainColor);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.blueBtn:hover{
    background-color: var(--secondaryColor);
}

#firstpage{
    height: 100%;
    width: 100%;
    position: absolute;
}

#firstpageContent{
    position: relative;
    left:10%;
    top:15%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    height: 80%;
    width: 80%;
}

#adCopyBox{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80%;
    width:60%;
    margin: 75px;
}

#firstpageContent img{
    height: 100%;
    width:40%;
}

#adCopyHeader{
    color: var(--secondaryColor);
}

#adCopyMsg{
    font-size: 1.3rem;
    color: var(--secondaryColor);
}

#emailBox{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height:20%;
    position: relative;
    right:57px;
}

#emailBox input{
    height:100%;
    border-radius: 5px;
    font-size: 1.4rem;
    margin:10px;
    line-height: 1.1rem;
}

#emailBox .signUpBtn{
    border:none;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    height: 100%;
    top:11px;
    font-size: 1.2rem;
    right:1px;
}

#footer{
    position: absolute;
    top:100%;
    left: 0;
    height: 50%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

